* {
	--md-default-fg-color:               var(--weavedoc-fg-1);
	--md-default-fg-color--light:        var(--weavedoc-fg-2);
	--md-default-fg-color--lighter:      var(--weavedoc-fg-3);
	--md-default-fg-color--lightest:     var(--weavedoc-fg-3);
	--md-default-bg-color:               var(--weavedoc-bg-1);
	--md-default-bg-color--light:        var(--weavedoc-bg-2);
	--md-default-bg-color--lighter:      var(--weavedoc-bg-3);
	--md-default-bg-color--lightest:     var(--weavedoc-bg-3);

	--md-primary-fg-color:               var(--weavedoc-accent);
	--md-primary-fg-color--light:        var(--weavedoc-accent-light);
	--md-primary-fg-color--dark:         var(--weavedoc-accent-dark);

	--md-accent-fg-color:                rgba(232, 234, 241, 0.962);
	--md-accent-fg-color--transparent:   var(--weavedoc-accent-hover-a10);

	--md-typeset-color:                var(--md-default-fg-color);
	--md-typeset-a-color:              #93baff;
	--md-typeset-mark-color:           var(--weavedoc-orange-alpha50);
	--md-typeset-del-color:            hsla(6, 90%, 60%, 0.15);
	--md-typeset-ins-color:            hsla(150, 90%, 44%, 0.15);
	--md-typeset-kbd-color:            hsla(0, 0%, 98%, 1);
	--md-typeset-kbd-accent-color:     hsla(0, 100%, 100%, 1);
	--md-typeset-kbd-border-color:     hsla(0, 0%, 72%, 1);
	--md-typeset-table-color:          hsla(0, 0%, 0%, 0.12);

	--md-admonition-fg-color:          var(--weavedoc-fg-1);
	--md-admonition-bg-color:          var(--weavedoc-bg-2);

	--md-footer-fg-color:              var(--weavedoc-fg-2);
	--md-footer-fg-color--light:       var(--weavedoc-fg-2);
	--md-footer-fg-color--lighter:     var(--weavedoc-fg-2);
	--md-footer-bg-color:              var(--weavedoc-bg-1);
	--md-footer-bg-color--dark:        var(--weavedoc-bg-1);
  }