:root {
	--weavedoc-grey-0: hsl(240, 5%, 1%);
	--weavedoc-grey-1: hsl(240, 5%, 3%);
	--weavedoc-grey-2: hsl(240, 5%, 7%);
	--weavedoc-grey-3: hsl(240, 5%, 15%);
	--weavedoc-grey-4: hsl(240, 5%, 25%);
	--weavedoc-grey-5: hsl(240, 5%, 40%);
	--weavedoc-grey-6: hsl(240, 5%, 60%);
	--weavedoc-grey-7: hsl(240, 5%, 75%);
	--weavedoc-grey-8: hsl(240, 5%, 85%);
	--weavedoc-grey-9: hsl(240, 5%, 90%);
	--weavedoc-grey-10: hsl(240, 5%, 97%);

	--weavedoc-grey-1-a80: hsl(240, 5%, 5%, 80%);
	--weavedoc-grey-2-a80: hsl(240, 5%, 10%, 80%);
	--weavedoc-grey-8-a80: hsl(240, 5%, 90%, 80%);

	--weavedoc-orange: hsl(40, 100%, 50%);
	--weavedoc-orange-p1: hsl(40, 100%, 60%);
	--weavedoc-orange-p2: hsl(40, 100%, 80%);
	--weavedoc-orange-n1: hsl(40, 100%, 40%);
	--weavedoc-orange-n2: hsl(40, 100%, 20%);
	--weavedoc-orange-a10: hsla(40, 100%, 50%, 10%);
	--weavedoc-orange-a20: hsla(40, 100%, 50%, 20%);
	--weavedoc-orange-a50: hsla(40, 100%, 50%, 50%);

	--weavedoc-magenta: hsl(320, 100%, 50%);
	--weavedoc-magenta-p1: hsl(320, 100%, 60%);
	--weavedoc-magenta-p2: hsl(320, 100%, 80%);
	--weavedoc-magenta-n1: hsl(320, 100%, 40%);
	--weavedoc-magenta-n2: hsl(320, 100%, 20%);
	--weavedoc-magenta-a10: hsl(320, 100%, 50%, 10%);
	--weavedoc-magenta-a20: hsl(320, 100%, 50%, 20%);
	--weavedoc-magenta-a50: hsl(320, 100%, 50%, 50%);

	--weavedoc-grey: hsl(240, 5%, 60%);
	--weavedoc-grey-p1: hsl(240, 5%, 70%);
	--weavedoc-grey-p2: hsl(240, 5%, 80%);
	--weavedoc-grey-n1: hsl(240, 5%, 40%);
	--weavedoc-grey-n2: hsl(240, 5%, 20%);
	--weavedoc-grey-a10: hsl(240, 5%, 60%, 10%);
	--weavedoc-grey-a20: hsl(240, 5%, 60%, 20%);
	--weavedoc-grey-a50: hsl(240, 5%, 60%, 50%);
}

[data-md-color-scheme="weavedoc-light"] {
	--weavedoc-bg-1: var(--weavedoc-grey-8);
	--weavedoc-bg-1-a80: var(--weavedoc-grey-8-a80);
	--weavedoc-bg-2: var(--weavedoc-grey-9);
	--weavedoc-bg-3: var(--weavedoc-grey-10);

	--weavedoc-fg-1: var(--weavedoc-grey-2);
	--weavedoc-fg-2: var(--weavedoc-grey-3);
	--weavedoc-fg-3: var(--weavedoc-grey-4);

	--weavedoc-accent: var(--weavedoc-orange-n1);
	--weavedoc-accent-light: var(--weavedoc-orange-p2);
	--weavedoc-accent-dark: var(--weavedoc-orange-n2);
	--weavedoc-accent-text: var(--weavedoc-orange-n2);
	--weavedoc-accent-a10: var(--weavedoc-orange-a10);
	--weavedoc-accent-a20: var(--weavedoc-orange-a20);

	--weavedoc-accent-hover: var(--weavedoc-grey);
	--weavedoc-accent-hover-text: var(--weavedoc-grey-n2);
	--weavedoc-accent-hover-a10: var(--weavedoc-grey-a10);
	--weavedoc-accent-hover-a20: var(--weavedoc-grey-a20);

	--weavedoc-stroke: hsla(240, 5%, 0%, 15%);
	--weavedoc-smoke: hsla(240, 5%, 85%, 90%);
}

[data-md-color-scheme="weavedoc-dark"] {
	--weavedoc-bg-1: var(--weavedoc-grey-2);
	--weavedoc-bg-1-a80: var(--weavedoc-grey-2-a80);
	--weavedoc-bg-2: var(--weavedoc-grey-3);
	--weavedoc-bg-3: var(--weavedoc-grey-4);

	--weavedoc-fg-1: var(--weavedoc-grey-9);
	--weavedoc-fg-2: var(--weavedoc-grey-8);
	--weavedoc-fg-3: var(--weavedoc-grey-7);

	--weavedoc-accent: var(--weavedoc-orange);
	--weavedoc-accent-light: var(--weavedoc-orange-p2);
	--weavedoc-accent-dark: var(--weavedoc-orange-n2);
	--weavedoc-accent-text: var(--weavedoc-orange-p1);
	--weavedoc-accent-a10: var(--weavedoc-orange-a10);
	--weavedoc-accent-a20: var(--weavedoc-orange-a20);

	--weavedoc-accent-hover: var(--weavedoc-grey);
	--weavedoc-accent-hover-text: var(--weavedoc-grey-p1);
	--weavedoc-accent-hover-a10: var(--weavedoc-grey-a10);
	--weavedoc-accent-hover-a20: var(--weavedoc-grey-a20);

	--weavedoc-stroke: hsla(240, 5%, 100%, 15%);
	--weavedoc-smoke: hsla(240, 5%, 0%, 90%);
}

[data-md-color-scheme="weavedoc-light"] .weavedoc-dark-theme-only,
[data-md-color-scheme="weavedoc-dark"] .weavedoc-light-theme-only,
[data-md-color-scheme="weavedoc-light"] img[src$="#only-dark"],
[data-md-color-scheme="weavedoc-dark"] img[src$="#only-light"] {
	display: none !important;
}

[data-md-color-scheme="weavedoc-light"] img[src$="#only-light"],
[data-md-color-scheme="weavedoc-dark"] img[src$="#only-dark"] {
	display: initial;
}