[data-md-color-scheme="weavedoc-light"] {
	--md-code-fg-color:                var(--weavedoc-grey-9);
	--md-code-bg-color:                var(--weavedoc-grey-2);

	--md-code-hl-color:                var(--weavedoc-accent-a20);
	--md-code-hl-number-color:         hsl(290, 60%, 70%);
	--md-code-hl-special-color:        var(--weavedoc-grey-7);
	--md-code-hl-function-color:       var(--weavedoc-grey-7);
	--md-code-hl-constant-color:       var(--weavedoc-grey-7);
	--md-code-hl-keyword-color:        hsl(40, 75%, 60%);
	--md-code-hl-string-color:         hsl(330, 80%, 70%);
	--md-code-hl-name-color:           var(--weavedoc-grey-8);
	--md-code-hl-operator-color:       var(--weavedoc-grey-6);
	--md-code-hl-punctuation-color:    var(--weavedoc-grey-6);
	--md-code-hl-comment-color:        var(--weavedoc-grey-6);
	--md-code-hl-generic-color:        var(--weavedoc-grey-6);
	--md-code-hl-variable-color:       var(--weavedoc-grey-6);
}

[data-md-color-scheme="weavedoc-dark"] {
	--md-code-fg-color:                var(--weavedoc-grey-8);
	--md-code-bg-color:                var(--weavedoc-grey-0);

	--md-code-hl-color:                var(--weavedoc-accent-a20);
	--md-code-hl-number-color:         hsl(290, 60%, 70%);
	--md-code-hl-special-color:        var(--weavedoc-grey-7);
	--md-code-hl-function-color:       var(--weavedoc-grey-7);
	--md-code-hl-constant-color:       var(--weavedoc-grey-7);
	--md-code-hl-keyword-color:        hsl(40, 75%, 60%);
	--md-code-hl-string-color:         hsl(330, 80%, 70%);
	--md-code-hl-name-color:           var(--weavedoc-grey-8);
	--md-code-hl-operator-color:       var(--weavedoc-grey-6);
	--md-code-hl-punctuation-color:    var(--weavedoc-grey-6);
	--md-code-hl-comment-color:        var(--weavedoc-grey-6);
	--md-code-hl-generic-color:        var(--weavedoc-grey-6);
	--md-code-hl-variable-color:       var(--weavedoc-grey-6);
}

.highlighttable .linenodiv {
	box-shadow: none;
}

.highlighttable .linenos {
	box-shadow: inset -.05rem 0 var(--weavedoc-grey-3);
}

.highlight .hll {
	box-shadow:
		inset 0.125rem 0 var(--weavedoc-accent),
		320px 0 var(--md-code-hl-color);

}

.highlighttable .linenodiv pre {
	color: var(--weavedoc-grey-6);
}

.highlight .md-clipboard {
	color: transparent;
}

.highlight:hover .md-clipboard {
	color: var(--weavedoc-grey-5);
}

.highlight .md-clipboard:hover {
	color: var(--weavedoc-grey-10);
}

code:not(pre code, .highlight) {
	background-color: rgb(27, 27, 27) !important;
	color: inherit !important;
}

code {
	background: rgb(32, 32, 32) !important;
}

.highlight .nv-after-dot-p {
	color: rgb(97, 161, 241) !important;
}

.highlight .sb {
	color: rgb(173, 241, 149);
}
  
.highlight .nv {
	color: rgb(204, 204, 204);
}

.highlight .nc {
	color: rgb(253, 251, 172);
}

.highlight .nf {
	color: rgb(253, 251, 172);
}

.highlight .kd {
	color: rgb(248, 109, 124);
}

.highlight .kr {
	color: rgb(248, 109, 124);
}

.highlight .kc {
	color: rgb(255, 198, 0);
}

.highlight .s2 {
	color: rgb(173, 241, 149);
}

.highlight .mf {
	color: rgb(255, 198, 0);
}

.highlight .light-blue {
	color: rgb(132, 214, 247);
}



